@model IEnumerable<UsuarioPedido>
@using ETAPA3.Models;
<div class="centerText">
   <p>
      @ViewBag.Mensagem
   </p>
</div>
 <div id="pedidoButton">
    <a button  class="btn btn-primary"  asp-action="Produtos" >Novo pedido</a>
 </div>
