@{
    ViewData["Title"] = "Home Page";
}
   
    <main>
     <div id="container" >
      <article>
        <h2><b>Aroma Life</b></h2>
        <p>Bem vindo ao Aroma Life! Nós somos a maior loja virtual distribuidora de óleos essenciais e cosméticos do Brasil. Seja um parceiro Aroma Life e adquira nossos produtos com até 10% de desconto no momento da compra! Basta entrar em contato através da plataforma desejada e utilizar nosso cupom AROMA10 que seu desconto estará garantido!</p>
      </article>
      <div>
          <a button href="~/Home/Produtos" id="botaoIndex" class="btn btn-primary">Veja nossos produtos!</a>
      </div> 
     </div>
    </main>
    