@{
    ViewData["Title"] = "Noticias";
}
    

  
        <div  id="container2">
            <div class="news">
                <a  href="https://g1.globo.com/sp/campinas-regiao/especial-publicitario/infinity-pharma/noticia/2020/07/06/inblends-os-beneficios-de-aromas-de-oleos-essenciais.ghtml"><img src="~/images/oleos.jpg" width="350px" height="200" alt="notícias de cosméticos">
                Os benefícios dos óleos essenciais</a>
            </div>

            <div class="news"> 
                <a  href="https://www.folhape.com.br/noticias/aromaterapia-esta-em-alta/152930/"><img src="~/images/aromaterapia.jpg" width="350px" height="200" alt="Aromaterapia">
                Aromaterapia</a>
            </div>

            <div class="news">
                <a  href="https://www.funverde.org.br/blog/embalagens-biodegradaveis-sao-destaques-na-industria-de-cosmeticos-paranaense/"><img src="~/images/biodegradavel.jpg" width="350px" height="200"  alt="Embalagens Biodegradáveis">Embalagens Biodegradáveis</a>
            </div>    
        </div>
    
