@{
    ViewData["Title"] = "Produto3";
}
    
    <main>
        <article>
            <figure class="produto3">
                <img class ="imgP" src="~/images/kitcosmetico.jpg" width="350px" height="350px">
                <figcaption class="figcaption1">
                    <p>Kit cosméticos artesanais</p>
                    <p>R$95,00 Unidade</p>
                    <p>Kit com shampoo e sabonete de ervas</p>
                    <p><a button href="https://api.whatsapp.com/send?phone=5521997622075&text=Bem%20vindo(a)%20%C3%A0%20Aroma%20Life!">Se interessou? Vem de zap!</a></p>
                    <p>Ou entre em contato conosco em <a asp-action="Contato">Contatos</a></p>
                </figcaption>
            </figure>
        </article>
    </main>
   
    
