@{
    ViewData["Title"] = "Produtos";
}
   
    <main>
        <h1>Cosméticos artesanais</h1>
        <section class="grid-1">
            
            <div class="item-1"><a class="linkPdt" asp-action="Produto1"><img src="~/images/lavanda.jpg" width="200px" height="200"> Óleo essencial - Lavanda</a></div>
            <div class="item-2"><a class="linkPdt" asp-action="Produto2"><img  src="~/images/sabonete.jpg" width="200px" height="200">Sabonete artesanal - Lavanda </a></div>
            <div class="item-3"><a class="linkPdt" asp-action="Produto3"><img src="~/images/kitcosmetico.jpg" width="200px" height="200">Kit cosméticos artesanais </a></div>
            <div class="item-4"><a class="linkPdt" asp-action="Produto4"><img src="~/images/canela.jpg" width="200px" height="200">Óleo essencial - Canela </a></div>
        </section> 
        <p>Quer saber como adquirir? clique no produto desejado e veja os detalhes!</p>  
    </main>
   
