@{
    ViewData["Title"] = "Produto4";
}
    
    <main>
        <article>
            <figure class="produto4">
                <img class ="imgP" src="~/images/canela.jpg" width="350px" height="350px">
                <figcaption class="figcaption1">
                    <p>Óleo essencial de canela</p>
                    <p>R$40,00 unidade</p>
                    <p>Frasco 50ml essência de canela</p>
                    <p><a button href="https://api.whatsapp.com/send?phone=5521997622075&text=Bem%20vindo(a)%20%C3%A0%20Aroma%20Life!">Se interessou? Vem de zap!</a></p>
                    <p>Ou entre em contato conosco em <a asp-action="Contato">Contatos</a></p>
                </figcaption>
            </figure>
        </article>
    </main>
   
    
