@{
    ViewData["Title"] = "Projetos";
}
    
    <main>
        <article class="projectA">
            
            <div class = "container1">
                
                <img class="project" src="~/images/parceria.jpg" width="350px" height="350px" alt="aperto de mão">
                <p>
                    <h4>Somos Parceiros!</h4>
                    A Aroma Life vem trabalho em conjunto com diversas empresas fabricantes de cosméticos, para trazer a melhor qualidade possível para nossos clientes! Pensando nisso, decidimos mostrar um pouco do nosso trabalho confeccionando óleos, sabonetes e outros produtos.
                    Você pode encontrar essas imagens através do botão "Galeria" que se encontra na parte inferior do nosso site! :)
                </p>
            </div >
            <div class = "container1"> 
                
                <img class="project" src="~/images/reciclavel.png" width="350px" height="350px" alt="simbolo sustentável">      
                <p>
                    <h4>Sistema de coleta reciclável</h4> 
                    Além disso, também queremos mostrar como contribuímos para o meio ambiente! Através de uma parceria realizada com o banco Nature, todos os nossos produtos descartados são cuidadosamente selecionados e enviados ao nosso setor de Coleta e finalmente reutilizados em nossos produtos Biodegradáveis! Não é incrível?
                </p>
            </div>
            <div class = "container1">
                
                <img class="project" src="~/images/doacao.jpg" width="350px" height="350px" alt="doação">
                <p>
                    <h4>Ajuda Voluntária</h4>
                    Possuímos um sistema de doação para instituições da área de saúde, onde 15% de todos os lucros da Aroma Life é direcionado para Hospitais com o intuito de ajudar quem realmente precisa nesse momento difícil! #StayHome!
                </p>
            </div>
        </article>

    </main>
    
