@{
    ViewData["Title"] = "Quem somos";
}
    
    <main>
        <article>
            <h2>Conheça a Aroma Life</h2>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum massa erat, ac scelerisque velit efficitur et. Maecenas id turpis auctor dolor viverra auctor. In sollicitudin justo at augue vestibulum dignissim malesuada vitae felis. Aenean viverra dignissim ipsum, tempor volutpat neque aliquam cursus. Pellentesque ultrices quam vel metus rutrum, vel interdum metus iaculis. In euismod quis nibh non elementum. Maecenas commodo erat ultrices, aliquam enim ac, facilisis dui. Duis arcu dolor, aliquam sit amet nisl sodales, molestie ornare magna. Mauris ut mi eu tellus pulvinar porta a nec mauris. Vivamus aliquam venenatis metus, ut auctor libero pulvinar nec. Vestibulum nec dolor auctor neque lacinia ultrices eu et diam. Vestibulum vehicula eu odio sed porta. Quisque ac lacus ac ipsum tristique pellentesque. Integer eget urna nec nisl imperdiet lobortis eget id ligula. Nam id justo massa. Vivamus iaculis aliquet justo eu efficitur.</p>
        </article>
        <div>
            <p>Quer saber mais? entre em contato conosco ou siga nas redes sociais! - <a asp-action="Contato">Contatos</a></p>
        <div>
    </main>
    
